*{
    margin: 0;
    font-size: 24px;
}

/* just coloring my name */
span{
    color: orangered;
}

/* the following code will be an amalgamation of attempts to put button and name far away from each other */

.Name-and-button{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

h1>span{
    margin-left: 50px;
    
}

/* **************It is sharable *******/
.btn{
    padding: 20px 66px;
    border: 2px solid black;
     
    border-radius: 10px;
    margin-right: 50px;
} 

.btn-2{
    background-color: black;
    color: whitesmoke;
    margin-top: 20px;

}

.otaku-page{
    width: 900px;
    height: 652px;
    background-image: url("../assets/Hero-bg.png") ;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.computer-boy img{
    width: 300px;
    height: 300px;
}
.computer-boy{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* the end of otaku section */

#second{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}