*{
    margin: 0;
    font-size: 20px;
}

/* just coloring my name */
span{
    color: orangered;
}

/* the following code will be an amalgamation of attempts to put button and name far away from each other */

.Name-and-button{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.ten-px {
    margin-top: 10px;
    margin-left: 2px;
}

h1>span{
    margin-left: 50px;
    
}

/* **************It is sharable *******/
.btn{
    padding: 20px 66px;
    border: 2px solid black;
     
    border-radius: 10px;
    margin-right: 50px;
} 

.btn-2{
    background-color: black;
    color: whitesmoke;
    margin-top: 20px;

}

.otaku-page{
    width: 900px;
    height: 652px;
    background-image: url("../assets/Hero-bg.png") ;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.computer-boy img{
    width: 300px;
    height: 300px;
}
.computer-boy{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* the end of otaku section */

#second{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}


.third-section{
    /* border: 2px solid red; */
    background-color: rgb(239, 239, 239) ;
    display: flex;
    margin: 5px 50px;
    /* gap: 10px; */
    padding-top: 50px;
}
.third-section h1, p{
    margin-left: 10px;
}
.reverse-third-section{
    /* border: 2px solid red; */
    background-color: rgb(239, 239, 239) ;
    display: flex;
    flex-direction: row-reverse;
    margin: 5px 50px;
    padding-top: 50px;
    /* gap: 10px; */

}

.inspiration-main{
    display: flex;
    gap: 50px;
}

.inspiration-main-twig{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
    margin-top: 50px;
}

.child{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 20px;
}

.yt{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 236, 236);
    margin: 0 450px;
    padding: 50px;

}